@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px 2rem;
  }

  nav {
    padding: 0;
    margin-top: 1.5rem;
    flex-direction: column-reverse;
  }

  #email-cell {
    margin-bottom: 1.5rem;
  }
}
