* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, sans-serif;
}



/* Classes */

.title-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 60px;
}

nav .nav-left{
    display: flex;
    flex: 1;
    align-items: center;
}

.nav-left > div{
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #228B22;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    width: 100px;
    cursor: auto;
}

.page-title {
    height: 400px;
    margin-bottom: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    background-image: url("../images/background-color.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.page-title h2 {
    font-size: 50px;
}

.page-title h3 {
    margin-left: -170px;
}

.page-title div {
    display: flex;
    align-items: center;
}

.title-text {
    flex-direction: column;
}

.tree {
    height: 350px;
    margin-right: -40px;
}

.bench {
    width: 220px;
    margin-left: -100px;
    margin-top: 200px;
}

.footer {
    margin-top: 5%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C5D2BD;
    color: white;
    text-align: center;
}

.steps {
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.collapsible {
    background-color: #a6a6a6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.steps button {
    font-size: 1rem;
}

.steps-list {
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
}

.steps-items {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}


/* IDs */

#user-info {
    float: right;
}
