/* Tags */

html, body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* IDs */

#header {
    background-color: gray;
    height: 10vh;
}

#email-cell {
    aspect-ratio: 3;
    float: right;
    border-right: 0;
    border-left: 1px solid black;
}

#map {
    position: fixed;
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#data {
    margin: 7px 0 0 7px;
    width: 80vw;
    float: left;
}

/* Classes */

.header-cell {
    height: 100%;
    aspect-ratio: 1;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid black;
}

.header-button {
    height: 100%;
    width: 100%;
}

.text-element {
    font-family: 'Times New Roman';;
    font-size: 1.25vh;
}

.esri-legend__layer-caption {
    display: none;
}

.data-element {
    font-size: 3vh;
}
