/* Tags */

* {
  margin: 0;
  padding: 0;
}
  
body {
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
  
h1 {
  margin-left: 5px;
  font-size: 25pt;
  font-family: Arial, sans-serif;
}

h2 {
  margin-left: 5px;
  font-size: 25pt;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-left: 60px;
}
  
nav .nav-left {
  display: flex;
  flex: 1;
  align-items: center;
}

/* IDs */

#map-container {
  flex-grow: 1;
  display: flex;
}

#header {
  background-color: gray;
  height: 10vh;
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#data {
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#how-to-view-button {
  text-decoration: none;
}

#user-info {
  float: right;
}

#updateButton {
  background-color: #04AA6D;
  tab-size: 12px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-top:20px;
  margin-bottom:10px;
  opacity: 0.8;
}

#closeButton {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
  opacity: 0.8;
}

#contains_greenery {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: black;
  border-radius: 5px;
}

#coordinates{
  display: block;
}
/* Classes */

.header-cell {
  height: 100%;
  aspect-ratio: 1;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid black;
}

.text-element {
  font-family: 'Times New Roman';
  font-size: 1rem;
}

.esri-legend__layer-caption {
  display: none;
}

.data-element {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.esri-component.esri-layer-list.esri-widget.esri-widget--panel {
  margin-bottom: 15px;
}

.nav-left > div {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #228b22;
  font-size: 20px;
  cursor: pointer;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 5%;
}

.logo {
  width: 100px;
  cursor: auto;
}

.page-title {
  height: 400px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  background-image: url('../images/background-color.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.page-title h2 {
  font-size: 50px;
}

.page-title div {
  display: flex;
  align-items: center;
}

.title-text {
  flex-direction: column;
}

.tree {
  height: 350px;
  margin-right: -40px;
}

.bench {
  width: 220px;
  margin-left: -100px;
  margin-top: 200px;
}

.footer {
  margin-top: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c5d2bd;
  color: white;
  text-align: center;
}

.steps {
  margin-top: 6%;
  margin-left: 6%;
  margin-right: 20%;
  margin-bottom: 10%;
}

.collapsible {
  background-color: #a6a6a6;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.steps button {
  font-size: 20px;
}

.steps-list {
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.steps-items {
  margin-top: 1%;
  margin-bottom: 1%;
}
.popupInfo{
  font-family: 'Times New Roman';
  font-size: 1.4rem;
  margin-left: 5px;
}
.esri-ui-inner-container.esri-ui-corner-container {
  inset: 15px 15px !important;
}
