image: python:latest

before_script:
  - python --version
  - pip install -r requirements.txt

stages:
  - static analysis
  - test
  - deploy

flake8:
  stage: static analysis
  script:
  - flake8 --max-line-length=120 src/*.py

pylint:
  stage: static analysis
  allow_failure: true
  script:
  - pylint -d C0301 src/*.py

MSDeploy:
  stage: deploy
  script:
  - echo "test ms depoly"
  - cd src/
  - pyinstaller -F lintpractice.py
  tags:
  - deployMS